body
{
    font: bold calibri;
    background-color: rgb(0, 0, 0);
}

body header
{
    text-align: center;
    background-color: rgb(11, 11, 11);
    color: white;
}

header h1
{
    margin-bottom: 0;
}

header h2
{
    margin: 0;
}

body nav
{
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;

}

nav div
{
    margin-top: 0;
}

body nav li
{
    display: inline-block;
    padding: 2%;
}

a:visited
{
    color: red;
}

a:hover
{
    color: lightgreen;
}

a:link
{
    color: rgb(117, 196, 222);
}

article
{
    background-color:rgb(34, 34, 34);
    color: white;
    text-align: center; 
    padding: 2%;
}

article h2
{
    border-bottom: 1px solid white;
    margin-top: 0;
}

article p
{
    margin: 0;
}

figure
{
    background-color: rgb(29, 29, 29);
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

figcaption
{
    padding-top: 0%;
    color: white;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding-bottom: 2%;
}

footer
{
    text-align: center;
    background-color: rgb(11, 11, 11);
    color: white;
}